{% extends 'index.html' %}
{% block product_details %}
    <div class="product-details">
        <div class="product">
            <img src={{ product.photo.url }}>

        </div>
        <div>
            <h3>Name: {{ product.name }}</h3>
            <h3>Description: {{ product.description }}</h3>
            <h3>Starting Bid: {{ product.minimum_bid_price }}</h3>
            {% if last_bid %}
                <h3>Latest Bid: {{ last_bid.bid_amount }}</h3>
            {% endif %}

            <h3>Bidding Ends At: {{ product.ends_at }}</h3>

            <div class="bid">
                <h4>Place Bid</h4>
                <form method="post" action={% url 'bid:place' %}>
                    {% csrf_token %}
                    <input type="hidden" name="bid-product" value={{ product.id }}>
                    {% if product.is_expired %}
                        <input placeholder="auction time expired" type="number" disabled name="bid-amount">
                        <input disabled type="submit">
                    {% elif product.auctoneer != request.user %}
                        <input type="number" min={{ product.minimum_bid_price }} step="0.1" name="bid-amount">
                        <input type="submit">

                    {% elif product.is_expired %}
                        <input placeholder="auction time expired" type="number" disabled name="bid-amount">
                        <input disabled type="submit">
                    {% else %}
                        <input placeholder="you cant bid on your own item" type="number" disabled name="bid-amount">
                        <input disabled type="submit">
                    {% endif %}
                </form>
            </div>
        </div>

        <div>

                <table>
                    <thead>
                    <tr>
                        <th>Bid Amount</th>
                        <th>User</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for bid in bids %}
                        <tr>
                            <td>{{ bid.bid_amount }}</td>
                            <td>{{ bid.bidder }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>

        </div>
    <div>
        {% if product.is_expired %}
            <h3>Winner: {{ last_bid.bidder }}</h3>
        {% endif %}
        <h1></h1>
    </div>
    </div>


    <style>
        .product-details {
            display: flex;
            flex-direction: row;
            margin: 2rem;
        }

        .product-details .product img {
            width: 400px;
        }

        input[type='number'] {
            width: 200px
        }

        .bid {
            border: 1px solid teal;
        }
        table{
            text-align: center;
        }
    </style>
{% endblock product_details %}

