{%extends 'index.html' %}
{% block products %}
     <div class="product-list">
    {% for product in products %}
        <div class="product">
            <div>
                <img src={{ product.photo.url }}>
            </div>
             <a href={% url 'gallery:details' product.id %}>{{ product.name }}</a>
            <p>{{ product.description }}</p>
            {%  if product.is_expired %}
                <strong>Expired</strong>
        {% endif %}

        </div>
    {% endfor %}
     </div>
    <style>
    .product-list{
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(250px, 400px));
        grid-auto-rows: 1fr 1fr 1fr;
        grid-gap: 2rem;
        align-items: center;
        justify-content: center;
    }
    .product-list .product{
        border: 1px solid red;
    }
    .product-list img{
        height: 200px;
        width: 50%;
        margin: 2rem;
    }
</style>
{%endblock products%}

