{% extends 'index.html' %}
{% block products %}

    <div class="product-list">
        {% for product in products %}
            <div class="product">
                <div>
                    <img src={{ product.photo.url }}>
                </div>
                <div class="details">
                    <a class="title" href={% url 'gallery:details' product.id %}>{{ product.name }}</a>
                    <div class="description"><p>{{ product.description }}</p></div>

                    {% if product.is_expired %}
                        <strong class="expired">expired</strong>
                    {% endif %}

                </div>

            </div>
        {% endfor %}
    </div>

{% endblock products %}

