.signin{
    width: 400px;
    height: 400px;
    align-self: center;
    display: flex;
    flex-direction: row;
    margin: auto;
    text-align: center;
    padding: 2rem;
    align-items: center;
}
.signin input, button{
    width: 20rem;
    height: 2rem;
    margin: 1rem;
}