{% extends "admin/change_list.html" %}
{% load static %}
{% block extrahead %}

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.css"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.bundle.min.js"></script>
    <script>
        document.addEventListener('DOMContentLoaded', () => {
            const ctx = document.getElementById('chart').getContext('2d');

            // Sample data
            const chartData =
            {{ all_bid | safe }}
            const chartData_active =
            {{ active_bids | safe }}
            const set = new Set()
            console.log(chartData)
            console.log(chartData_active)
            chartData.forEach((d) => {

                d.y = d.count
            });

            chartData_active.forEach((d) => {

                d.y = d.count
            });

            Object.values(chartData).map(v => set.add(v.created_at__date))

            Object.values(chartData_active).map(v => set.add(v.created_at__date))
            let labels = Array.from(set);

            const chart = new Chart(ctx, {
                type: 'bar',
                data: {

                    datasets: [
                        {
                            label: 'bids created',
                            data: chartData,
                            backgroundColor: 'rgba(245, 92, 71, 0.82)',
                        },
                        {
                            label: 'bids active',
                            data: chartData_active,
                            backgroundColor: 'rgba(87,199,119,0.82)',
                        },

                    ],
                },
                options: {
                    responsive: true,
                    scales: {
                        xAxes: [
                            {

                                labels: labels,
                            },
                        ],
                        yAxes: [
                            {
                                ticks: {
                                    beginAtZero: true,
                                },
                            },
                        ],
                    },
                },
            });
        });
    </script>
{% endblock %}

{% block content %}
    <div style="width: 80%;">
        <canvas style="margin-bottom: 30px; width: 60%; height: 50%;" id="chart"></canvas>
    </div>
    <h2>No of active bid: {{ no_active_bid }} </h2>
    <h2>Active bid amount: {{ active_bid_total.max_bid__sum }}</h2>


    {{ block.super }}
{% endblock %}