<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
</head>


<body>


<header>

    <nav>
    <div>
         <ul>
            <li>
                <a href={% url 'gallery:list' %}>Home</a>
            </li>
             {% if request.user.is_authenticated %}

                <li >
                    <a href={% url 'gallery:listself' request.user.email %}>My Posted Items</a>
                </li>
             {% endif %}
        </ul>
    </div>
       <div>
           <ul>
               {% if request.user.is_authenticated %}
                 <li>
                 {{ request.user.email }}
                 </li>
                <li >
                    <a  href={% url 'user:logout' %}>Logout</a>
                </li>
            {% else %}
                <li >
                    <a  href={% url 'user:login' %}>Login</a>
                </li>
            {% endif %}</ul>
       </div>

    </nav>
</header>
<main>
    {% if request.user.is_authenticated %}
        <a href="{% url 'gallery:create' %}">Add New</a>
        {% block products %}
        {% endblock products %}
        {% block product_details %}
        {% endblock product_details %}
        {% block new_item %}
        {% endblock new_item %}
        {% block product_bids %}
        {% endblock product_bids %}
    {% else %}
        {% block login %}
        {% endblock login %}

    {% endif %}

</main>
</body>

<style>
    nav{
        background: rgba(147, 177, 217, 0.8);
        display: flex;
        justify-content: space-between;
    }
    nav a{
        text-decoration: none;
         padding: 1rem;
    }
    nav li{
        display: inline-block;

    }
    nav li a:hover{
        color: white;
    }
    body{
        display: flex;
        flex-direction: column;
    }
    header{
        flex: 1;
    }
    main{
        flex: 5;
    }

</style>
</html>